.home1 {
  display: flex;
  justify-content: center;
  border: 15px;
  border-color: aqua;
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: aliceblue;
}

.li,
ul {
  list-style: none;
  list-style-type: none;
}
