.ppg img {
  width: 68px;
  height: 68px;
  background-color: black;
  margin-right: auto;
}
.navigate {
  display: flex;
  align-items: center;
  color: red;
  background-color: black;
  padding: 20px 0 20px 80px;
  margin-left: auto;
}
